
@import url('https://fonts.cdnfonts.com/css/circular-std');
 
body{
    position: relative;
    
}
:root{
    --bg-color: #fff;
    --item-color:#0744F2;
    --special-color: #FF6400;
    --black--color: black;
}

.automation{
    padding: 6rem 7%;
}

.automation h2{
    font-weight: 500;
    font-size: 2.5em;
    line-height: 4rem;
    margin-bottom: 2.5rem;
}

.automation p{
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.automation_container{
    width: 100%;
    height: auto;
}

.automation_container h3{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 3rem;
}
.automation_container .site_box{
    width: 100%;
    height: 700px;
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 3rem;
}

/* Actions Site */


.automation_actions{
    width: 100%;
    height: 1000px;
    padding: 4rem 10%;
}


.automation_actions .btn_actions .btn-y{
    width: 15rem;
    height: 4.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(360deg, rgba(218, 218, 218, 0.27) 0%, #FFFFFF 100%);
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin: -1.5px;
}

#btn-bgr{
    background: #FFFFFF;
    border-top: 5px solid #4B91F9;
    border-radius: 10px 10px 0 0;
    height: 4.75rem;
}

.item_btn-aciton{
    width: 100%;
    background: var(--bg-color);
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 3.5rem;
}
.container_action .notify{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: rgba(235, 203, 128, 0.4);
    border: 1px solid #EBCB80;
    border-radius: 4px;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-bottom: 2rem;
}
.notify .title-notify{
    font-size: 1.3rem;
    font-weight: 300;
}
.notify #x_action{
    background-color: rgba(235, 203, 128, 0);
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.box-action{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#item-ac{
    width: 16rem;
    height: 12rem;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.8rem;
}
#item-bc{
    width: 16rem;
    height: 12rem;
    margin: 0.8rem;
}
#item-ac #box-ac{
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E8;
    border-radius: 5px;
    height: 2.6rem;
    align-items: center;
    padding: 0 1rem 0 1rem;
}
#item-ac #boc-ac >h3{
    font-size: 2rem;
}

#item-ac #boc-ac #clear{
    border: none;
}