@import url('https://fonts.cdnfonts.com/css/circular-std');
  

:root{
    --bg-color: #fff;
    --item-color:#0744F2;
    --special-color: #FF6400;
    --black--color: black;
}

.basic_site{
    width: 100%;
    height: auto;
    padding:4rem 7%;
}

.btn_city{
    display: block;
    width: 100%;

}

button.btn-ct{
    width: 25%;
    border: none;
    margin: -2px;
    height: 5rem;
    font-size: 1.4rem;
    border: 1px solid #D8D8D8;
    opacity: 0.7;
}

button.btn-ct:hover{
    cursor: pointer;
}
.content_city{
    padding: 5rem;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    opacity: 0.9;
    margin-bottom: 7rem;
}

.content_box{
    display: none;
}
.content_box p{
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.click{
    background-color: var(--bg-color);
    opacity: unset;
}
.content_block{
    display: block;
}

.city_img{
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.city_img-box{
    max-width: 24%;
}
.city_img-box h4{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.city_img-box img{
    width: 100%;
    margin-bottom: 1rem;
}
.city_img-box p{
    font-size: 1.75rem;
}

.scroll{
    display: inline;
    width: 200px;
    height: 200px;
    border: 1px;
    overflow: auto;
}