@import url('https://fonts.cdnfonts.com/css/circular-std');
  

:root{
    --bg-color: #fff;
    --item-color:#0744F2;
    --special-color: #FF6400;
    --black--color: black;
}

.question_content_2{
    width: 64%;
}


.qs_item-box_2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}   

.number_box_2{
    display: flex;
    width: 5%;
    flex-direction: column;
    align-items: center;

}

.box_qs_2{
    width: 82%;
}

.box_qs_2 h3 {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.3xrem;
    color: #0744F2;
    margin-bottom: 2rem;
}
.information_qs_2{
    width: 8%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.answers_2{
    display: block;
    border: solid 1px var(--item-color);
    margin-bottom: 1.7rem;
    padding: 0.2rem;
}
.answers_2 > span{
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--item-color);
}

.answers_2 > p{
    display: block;
    font-size: 1.1rem;
    font-weight: 450;
    color: var(--item-color);
}

.information_2{
    font-weight: 450;
    font-size: 1.2rem;
    line-height: 2rem;
}
.information_2 span{
    margin-right: 2rem;
}